# Supabase URL & Public Anon Key
# Copy this file to '.env' and replace the values with your custom Supabase project credentials.
VITE_SUPABASE_URL=https://cqimxokqegptxlewvkmk.supabase.co/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxaW14b2txZWdwdHhsZXd2a21rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyMzE5MTgsImV4cCI6MjEwMDgwNzkxOH0.Mk9wvdeu05ohixwmpvqQlkEByCxJej3m9tfNBUgt6to